[Unit]
description="A service that runs etherpad when the server is launched"

[Service]
User=ubuntu
WorkingDirectory=/etherpad
ExecStart=/bin/bash /etherpad/run-etherpad.sh
Restart=always

[Install]
WantedBy=network-online.target
