[Unit]
description="A service that runs etherpad when the server is launched"

[Service]
User=root
WorkingDirectory=/home/etherpad
ExecStart=/bin/bash /home/etherpad/run-etherpad.sh
Restart=always

[Install]
WantedBy=network-online.target
